version: "3.8"
services:
  auth:
    build: ./node/auth-service
    volumes:
      - ./node/auth-service/data:/app/data
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - PORT=3001

  quiz:
    build: ./node/quiz-service
    volumes:
      - ./node/quiz-service/data:/app/data
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=development
      - PORT=3002

  game:
    build: ./node/game-service
    volumes:
      - ./node/game-service/data:/app/data
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=development
      - PORT=3003
      - AUTH_SERVICE_URL=http://auth:3001
      - QUIZ_SERVICE_URL=http://quiz:3002

  frontend:
    build: ./vue
    ports:
      - "5173:5173"
    depends_on:
      - auth
      - quiz
      - game
    environment:
      - VITE_AUTH_SERVICE_URL=http://localhost:3001
      - VITE_QUIZ_SERVICE_URL=http://localhost:3002
      - VITE_GAME_SERVICE_URL=http://localhost:3003