{{- if .Values.elasticsearch.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
  namespace: elk
spec:
  serviceName: elasticsearch
  replicas: {{ .Values.elasticsearch.replicas }}
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
      - name: elasticsearch
        image: {{ .Values.elasticsearch.image.repository }}:{{ .Values.elasticsearch.image.tag }}
        imagePullPolicy: {{ .Values.elasticsearch.image.pullPolicy }}
        ports:
        - containerPort: 9200
        env:
        - name: discovery.type
          value: "single-node"
        - name: ES_JAVA_OPTS
          value: "-Xms512m -Xmx512m"
        - name: xpack.security.enabled
          value: "false"
        - name: xpack.security.transport.ssl.enabled
          value: "false"
        - name: xpack.security.http.ssl.enabled
          value: "false"
        resources:
          {{- toYaml .Values.elasticsearch.resources | nindent 10 }}
        volumeMounts:
        {{- if .Values.elasticsearch.persistence.enabled }}
        - name: data
          mountPath: /usr/share/elasticsearch/data
        {{- end }}
      volumes:
      {{- if .Values.elasticsearch.persistence.enabled }}
      - name: data
        persistentVolumeClaim:
          claimName: elasticsearch-pvc
      {{- else }}
      - name: data
        emptyDir: {}
      {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: elk
spec:
  type: {{ .Values.elasticsearch.service.type }}
  ports:
  - port: {{ .Values.elasticsearch.service.port }}
    targetPort: 9200
  selector:
    app: elasticsearch
---
{{- if .Values.elasticsearch.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: elasticsearch-pvc
  namespace: elk
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.elasticsearch.persistence.size }}
{{- end }}
{{- end }}


